@model IEnumerable<TimKiemVM>
@{
    ViewData["Title"] = "TimKiem";
}

<h3>Tìm kiếm hàng hóa</h3>
<form asp-action="TimKiem" asp-controller="TimKiem">
    Tên: <input name="KeyWord" />
    Giá Từ: <input name="From" type="number" min="0" step="0.01" />
    đến: <input name="To" min="0" step="0.01" />
    <button class="btn btn-primary">Tìm kiếm</button>
</form>

@if (Model != null)
{
    <h3>Kết quả tìm kiếm</h3>
    <a asp-action="TimKiem" asp-route-sortBy="DonGia" class="btn btn-primary">Đơn giá tăng dần</a>
    <form asp-action="TimKiem" asp-route-sortBy="DonGia" asp-route-sortType="desc" class="btn btn-danger">
          <input type="hidden" value="@ViewBag.KeyWord" name="KeyWord"/>
          <input type="hidden" value="@ViewBag.From" name="From"/>
          <input type="hidden" value="@ViewBag.To" name="To"/>
          <input type="hidden" value="@ViewBag.To" name="To"/>
     </form>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Hàng Hóa</th>
                <th>Đơn giá</th>
                <th>Ngày sx</th>
                <th>Loại</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.MaHh</td>
                    <td>@item.Tenhh</td>
                    <td>@item.DonGia</td>
                    <td>@item.NgaySv</td>
                    <td> @item.Loai</td>
                </tr>
            }
        </tbody>
    </table>
}


