@model MyAppCodeFirst.EF.Loai

@{
    ViewData["Title"] = "DELECT";
}

<h1>DELETE CATEGORY</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Hinh/Loai/@Model.Hinh" style="width:50px;height:30px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiTruoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiTruoc.TenLoai)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaLoai" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
